.about___container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 450px;
}

.about___container h1 {
  text-align: center;
  letter-spacing: 1vh;
  font-size: clamp(2.7rem, 8vh, 5rem);
  padding: 0 auto;
  font-family: "Pattaya", sans-serif;
  text-shadow: 1px 1px 1px #000, 2px 2px 5px var(--complementary);
  font-weight: 600;
  line-height: clamp(3rem, 15vw, 5rem);
  color: var(--text-header);
  margin: 0;
  width: 100%;
  height: 5%;
margin-bottom: 5%;

}

.about___content {
  height: 90%;
  width: 98%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  place-items: center;
  max-width: 1800px;
  padding: 0%;
  margin: 0;
  
}

.about___section_text {
  font-size: clamp(9px, calc(1vh), 19px);
  color: var(--text-secondary);
  height: fit-content;
  width: 90%;
  padding: 0%;
  margin: 0% 0;
  letter-spacing: 1.5px;
}
.about___section_text p {
  font-size: clamp(9px, calc(0.8vw + 0.8vh), 19px);
  line-height: clamp(11px, calc(0.8vw + 0.8vh), 25px);
}

.about___section_img {
  z-index: 100;
  display: flex;
  height: 101%;
  width: 98%;


 
}

.about___section_img img {
  height: 170%;
  width: 200%;
  top: -45%;
  left: -50%;
  filter: var(--filter) brightness(120%);
  transform:  rotate(0deg);
}

@media (min-width: 1024px) {
  .about___content {
    width: 98%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .about___container h1 {

    margin-bottom: 0%;
  
  
  }


  .about___section_text {
    width: 98%;
    max-width: 550px;
    margin-bottom: 0%;
  }
}
