.about___container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.about___content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
justify-content: center;
place-items: center;
max-width: 1800px;


}
.about___section_text {
  font-size: clamp(12px, calc(1vw + 1vh), 19.5px);
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding: 1%;
 
}




.about___section_img {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .about___section_text {
    font-size: clamp(15px, 1vh, 18px);
  }
}

@media (min-width: 1024px) {
  .about___content {
    width: 100vw;
    grid-template-columns: 1fr 1fr;
  }
  .about___section_text {
    width: 100%;
    font-size: clamp(18px,1vh, 20px);
    max-width: 550px;
  }

 
}
