.projectSection_grid_container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr));
  gap: 2vh;
 min-height: 500px;
  overflow-y: scroll;
  place-items: center;
  justify-content: center;
  align-items: center;
 
}

.ProjectSection____container {
  height: 90%;
  max-height: 320px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 95%;
  transition: 0.2s ease-in;
  border-radius: 15px;
  overflow: hidden;
  animation: fadeIn ease 5s;
  background-color: aquamarine;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*  */

.imageAndUl___container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Text and Lottie  */

.imageAndUl___textLottieBtn_container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 4, 4, 0.7);
  transition: 0.4s ease-in;
}
.imageAndUl___textLottieBtn_container:hover {
  background-color: rgba(4, 4, 4, 0.2);
}

.ProjectSection____textLottieBtn_content {
  margin-top: 5%;
  width: 55%;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textLottieBtn____lottie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.2s;
}

.textLottieBtn____lottie:hover {
  width: 98%;
}

a {
  cursor: default;
}

.textLottieBtn____p {
  width: 100%;

  position: absolute;
  left: 0%;
  right: 0%;
  top: -4%;
  bottom: 0%;
  z-index: 10;
  height: 100%;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: ease-in 0.2s;
}
.textLottieBtn____p:hover {
  font-size: 95%;
}

.textLottieBtn____p p {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .projectSection_grid_container {
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 1025px) {
  .projectSection_grid_container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
