/* Home */

.home___container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home___content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  overflow: hidden;
  min-height: 450px;
}

/* headings */

.home___header_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
  width: fit-content;
}

.header___content {
  width: 100%;
  padding: 0px;
}

.header___content h1 {
  text-align: center;
  font-size: clamp(1rem, 13vw, 4.5rem);
  margin: 1rem 0;
  padding: 0 auto;
  font-family: "Pattaya", sans-serif;
  text-shadow: 1px 1px 1px #000, 2px 2px 5px var(--complementary);
  font-weight: 600;
  line-height: clamp(3rem, 15vw, 5rem);
  color: var(--text-header);
  letter-spacing: 2px;
}
.header___content_p {
  font-size: clamp(1.1rem, 3vw, 1.4rem);
  padding: 0% auto;
  margin: 1rem;
  text-align: center;
  letter-spacing: 1px;
  padding: 0 15%;
}

/* button */
.btnAndText___container {
  margin-top: 1rem;
  width: 100%;
  height: fit-content;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* image + blob-background */

.home___background_blob_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 160px;
}

@media (min-width: 768px) {
  .header___content h1 {
    font-size: clamp(3em, 80vw, 4.5rem);
    line-height: clamp(3rem, 15vw, 5rem);
  }

  .home___background_blob_container {
    width: 45%;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  /* Home */

  .home___content {
    flex-direction: row;
  }

  /* headings */

  .home___header_container {
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    width: 50%;
    padding-left: 1%;
  }

  .header___content {
    height: 100%;
    width: 100%;
  }

  .header___content h1 {
    text-align: left;
    padding: 0;
    white-space: nowrap;
  }

  .header___content_p {
    margin: 1%;
    text-align: left;
    padding: 0%;
  }

  /* Button */
  .btnAndText___container {
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    max-width: 250px;
    width: 60%;
    height: 51%;
  }

  .btnAndText___text {
    height: fit-content;
    max-width: 250px;
    width: 60%;
    height: 51%;
  }

  /* image + blob-background */

  .home___background_blob_container {
    height: 100%;
    width: 45%;
    align-items: flex-end;
    justify-content: center;
  }
}
