.switch___content {
  width: 20vw;
  max-width: 100px;
  height: 1rem;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}

.switchBtn___content {
  position: relative;

}

.switchBtn {
  height:clamp(1.4em, 2vw, 1.8em);
  width:clamp(1.4em, 2vw, 1.8em);
  border-radius: 50%;
  border: none;
  overflow: hidden;
}

.activeSwitch {
  background-color: transparent;
  border-radius: 50%;
  height: clamp(1.5em, 2vw, 1.8em);
  width: clamp(1.5em, 2vw, 1.8em);
  top: 0;
  position: absolute;
  
  
}
.notSwitch {

  height: 150%;
  width: 150%;
  position: absolute;
  top:-0em;
  bottom: 0;
  left: -0em;
  right: 0;
  background-color: rgba(255, 255, 255, 0.721);
}
