/* Home */

.home___container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 85vw;
  overflow: hidden;

}

/* headings */

.home___header_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 30%;
  width: 100%;
  padding-left: 5%;
  
}

.header___content {
  width: 85%;
}

.header___content h1 {

  font-size: clamp(2.5rem, 6vw, 4rem);
  margin: 0 0 1rem 0;
  padding: 0 auto;
  font-family: 'Pattaya', sans-serif;
  text-shadow:  1px 1px 1px #000, 
  2px 2px 5px var(--complementary);
  font-weight: 600;
  line-height: clamp(2.5rem, 6vw, 5rem);
  color: var(--text-primary);
}
.header___content p {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  margin: 0;
  padding: 0 auto;


}

/* image + blob-background */

.home___background_blob_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 48%;
  width: 40%;
  
}




@media (min-width: 950px) {
  /* Home */

  .home___container {
    flex-direction: row;
   
  }

  /* headings */

  .home___header_container {
    justify-content: flex-start;
    align-items: flex-start;
    height: 50%;
    width: 60%;
    padding-left: 2%;
  }

  .header___content {
    height: 100%;
    width: 100%;
  }

  /* image + blob-background */

  .home___background_blob_container {
    height: 100%;
    width: 50%;
    align-items: center;
  }
}
