.btnAndText___content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: ease-in 0.25s;
  height: 50px;
  width: 100%;
  max-width: 250px;
  
}
.btnAndText___content:hover {
  transform: scale(95%);
}

.btnAndText___text {
  margin: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 10;
  font-size: 20px;
  color: var(--text-btn-header);
  overflow: hidden;
  font-weight: 600;
  font-family: var(--text-font-roboto);
}


@media (min-width:1200px) {
  .btnAndText___text {
    font-weight: 600;
    font-family: var(--text-font-rail);
  }
}