.card___section {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.text {
  height: 98%;
  width: 98%;
  padding: 0.5%;
}

.img {
  width: calc(18vh + 5vw);
  height: calc(18vh + 5vw);
  min-height: 120px;
  min-width: 120px;
  border-radius: 50%;
}

.card_rainbow {
  z-index: -1;
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--primary-two) 0%,
    var(--primary-three) 5%,
    var(--primary-one) 50%,
    var(--complementary) 100%
  );
  height: 500vw;
  width: 500vw;
  top: -160%;
  left: -150%;
  opacity: 60%;
  animation: o-rotate-360 linear 10s infinite;
}

/* mix up colors for img frame */

.rainbow_colorMix {
  background: linear-gradient(
    90deg,
    var(--primary-two) 0%,
    var(--complementary) 5%,
    var(--primary-one) 50%,
    var(--complementary) 100%
  );
}

.card___text_container {
  background-color: var(--bg-form);
  padding: 0;
  border-radius: 13px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card___h1_Title,
.card___p {
  padding: 2%;
  text-align: center;
  margin: 0;
}

.card___p_container {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card___section img {
  position: absolute;
  border-radius: 50%;
  width: 98%;
  height: 98%;
  padding: 1%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .img {
    height: 280px;
    width: 280px;
  }

  .card_rainbow {
    height: 500vw;
    width: 500vw;
    top: -50vw;
    left: -250vw;
    animation: o-rotate-360 linear 10s infinite;
  }
}

@keyframes o-rotate-360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
