.skills___container {
  height: 90%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 450px;
}

.skills___container_h1 {
  text-align: center;
  font-size: clamp(3rem, 8vh, 5rem);
  letter-spacing: 1vh;
  padding: 0 auto;
  font-family: "Pattaya", sans-serif;
  text-shadow: 1px 1px 1px #000, 2px 2px 5px var(--complementary);
  font-weight: 600;
  line-height: clamp(3rem, 15vw, 5rem);
  color: var(--text-header);
  margin: 0;
  width: 98%;
  height: 10%;
 
}
.skills___content {
  height:50%;
  min-height: fit-content;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 700px));
  justify-content: center;
  place-items: center;
  max-width: 1800px;
  padding: 0% 1%;
  letter-spacing: 1.5px;
}
.skills___section {
  color: var(--text-secondary);
  height:  fit-content;
  width: 100%;
  position: relative;
  padding: 5%;
}

.skills___section h1 {
  font-size: clamp(1rem, calc(1.5vw + 1.5vh), 1.8rem);
  letter-spacing: 0.8vh;
  padding: 0 auto;
  font-family: "Pattaya", sans-serif;
  text-shadow: 1px 1px 1px #000, 2px 2px 5px var(--complementary);
  font-weight: 600;
  color: var(--text-header);
  margin: 0;
}

.skills___section p {
  font-size: clamp(12px, calc(1vw + 1vh), 18px);
  text-shadow: 0px 0px 1px var(--complementary);
  color: var(--text-secondary);
}

@media (min-width: 1024px) {
  .skills___content {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
  .skills___section {
    color: var(--text-secondary);
    height: 60%;
    width: 90%;
  
    max-width: 550px;
    position: relative;
  }
}
