.App {
  background-color: var(--test);
  height: 99.6vh;
  min-height: 400px;
  width: 99vw;
  padding: 0.2vh 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.link___section_bottom a,
.link___section_left a,
.link___section_rigth a {
  all: unset;
  cursor: default;
  font-size: clamp(16px, 5vw, 25px);
  letter-spacing: 3px;
}

.link___section_bottom a:hover,
.link___section_rigth a:hover {
  transform: scale(95%);
  transition: ease-in 0.2s;
}


.link___section_bottom {
  height: 5vh;
  max-height: 80px;
  width: 80vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

/* Icons in left section */
.link___section_rigth {
  height: 100vh;
  width: 10vw;
  max-width: 80px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 
}

.link___rigth_a_container {
  height: 35%;
}
.link___rigth_a_container a {
  writing-mode: vertical-rl;
  transition: ease-in 0.2s;
}

.link___rigth_a_container a:hover {
  transform: scale(95%);
}
.link___icons_container {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.link___icons_container a {
  font-size: clamp(10px, 5vw, 25px);
  transition: ease-in 0.2s;
}
.link___icons_container a:hover {
  transform: scale(90%);
}

.line {
  border: 0;
  background-color: #000;
  height: 30%;
  width: 2px;
}

/* rigth */

.link___section_left {
  height: 100vh;
  width: 10vw;
  max-width: 80px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 
}

.link___left_a_container_first_p{
  height: 35%;

}

.link___left_a_container_second_p{
  height: 35%;
  display: flex;
  align-items: flex-start;


}

.link___left_a_container_first_p a, .link___left_a_container_second_p a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: ease-in 0.2s;
}

.link___left_a_container_first_p a:hover, .link___left_a_container_second_p a:hover {
  transform: scale(95%) rotate(180deg);
}

/* switch */
.switch_container {
  position: absolute;
  right: 0;
  top: 0;
}
