.App {
  height: 99.6vh;
  width: 99vw;
  padding: 0.2vh 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  font-family: "Raleway Dots";
  font-weight: 600;
  color: var(--text);
  background-color: var(--bg);
  z-index: -10;
  min-height: 510px;
}

/* cursors */
.pinkCursor {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur140.cur), auto !important;
}
.turquoiseCursor {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur138.cur), auto !important;
}
.blackCursor {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur107.cur), auto !important;
}

a {
  cursor: unset;
}

.App_Routes____container {
  height: 90%;
  width: 80vw;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 470px;
}

.link___section_bottom a,
.link___section_left a,
.link___section_rigth a {
  all: unset;
  font-size: clamp(1rem, 3vw, 1.4rem);
  font-weight: 800;
  letter-spacing: 3px;
}

.link___section_bottom a:hover,
.link___section_rigth a:hover {
  transform: scale(95%);
  transition: ease-in 0.2s;
}

.link___section_bottom {
  height: 5vh;
  max-height: 80px;
  min-height: 20px;
  width: 80vw;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg);
  z-index: 10;
}

.link___section_bottom p {
  height: 50%;
}

/* Icons in rigth section */
.link___section_rigth {
  height: 100vh;
  min-height: 490px;
  width: 10vw;
  max-width: 50px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.link___rigth_a_container {
  height: 40.5%;
  width: 50%;
}
.link___rigth_a_container a {
  writing-mode: vertical-rl;
  transition: ease-in 0.2s;
}

.link___rigth_a_container a:hover {
  transform: scale(95%);
}
.link___icons_container {
  height: 35%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.link___icons_container a {
  font-size: clamp(10px, 5vw, 25px);

  transition: ease-in 0.2s;
}
.link___icons_container a:hover {
  transform: scale(90%);
  filter: drop-shadow(0px 0px 1.5px var(--text-header));
}

.line {
  border: 0;
  background-color: var(--text);
  height: 30%;
  width: 2px;
}

/* left */

.link___section_left {
  height: 100vh;
  min-height: 490px;
  width: 10vw;
  max-width: 50px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.link___left_a_container_first_p {
  height: 35.5%;
  width: 50%;
}

.link___left_a_container_second_p {
  height: 40%;
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.link___left_a_container_first_p a,
.link___left_a_container_second_p a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: ease-in 0.2s;
}

.link___left_a_container_first_p a:hover,
.link___left_a_container_second_p a:hover {
  transform: scale(95%) rotate(180deg);
}

/* switch */
.switch_container {
  height: 5vh;
  min-height: 20px;
  max-height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


