:root {
  --bg: #e4e4e4;
  --bg-form: #e7e6e6f3;
  --bg-card:#e7e6e6e0;
  --form-input-valid: rgb(192, 17, 151);
  --shadow: #5801567f;
  --shadow-border: #f9d7f9;
  --primary-one: rgb(254, 59, 209);
  --primary-two: rgb(244, 135, 219);
  --primary-three: rgb(248, 236, 245);
  --complementary: rgb(47, 255, 0);
  --text: #1c7e1c;
  --text-secondary:rgb(116, 9, 91);
  --text-header: rgb(243, 19, 190);
}

[data-theme="turquoise"] {
  --bg: #1f1f1f;
  --bg-form: #313131f0;
  --bg-card:#313131e4;
  --form-input-valid: rgb(38, 123, 125);
  --shadow: #003c3b93;
  --shadow-border: #d3d9d9;
  --complementary: rgb(255, 47, 0);
  --primary-one: turquoise;
  --primary-two: rgb(145, 218, 210);
  --primary-three: rgb(216, 223, 222);
  --text: rgb(204, 98, 62);
  --text-secondary:rgb(81, 213, 227);
  --text-header: rgb(60, 186, 188);
 

  /* rgb(60, 186, 188); */
}

[data-theme="rgb(0,0,0)"] {
  --bg: #eeeeee;
  --bg-form: #eeeeeef1;
  --bg-card:#eeeeeeea;
  --form-input-valid: #717171;
  --shadow: #12121280;
  --shadow-border: #dedede80;
  --primary-one: black;
  --primary-two: rgb(138, 137, 137);
  --primary-three: rgb(240, 239, 239);
  --complementary: rgb(82, 82, 81);
  --text: rgb(48, 48, 48);
  --text-secondary:#121212;
  --text-header: rgb(156, 156, 156);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  height: 100vh;
  min-height:100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items:center;
  background-color: var(--bg);
  min-height: 500px;
  overflow-y: scroll;
 

}

html {
  height: 100vh;
  min-height:100vh;
  min-height: -webkit-fill-available;
}
